@media(max-width:1230px){

    .header__navigotion_button{   /* бургер-меню */
        display: block;
        z-index: 100;
        position: relative;
        top: 0px;
        right: 30px;
    }

    .navigotion__list {         /* кнопки навигации */
      display: none; 
    }

    .header__navigotion.open  .navigotion__list {       
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        font-weight: 600;
        font-size: 54px;
        color: #828282;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px 46px;
        z-index: 10;
        background-color: #fff; 
        overflow: auto;
      }

      .header__row{
        display: flex;
        flex-direction: column;
      }

}


@media(max-width:530px){
  .header__navigotion{
    margin-bottom: 10px;
  }

  .header {
    padding-top: 10px;
  }
    
  .header__row {
    padding: 0 15px;
    display: block;
    height: 400px;  
  }
  .header__text{
    display: inline-block;
    height: 10px;
  }

    .header__text h1 {
      position: absolute; 
      right: 25px;
      top: 150px;
      width: 40%;
      line-height:25px;
      text-align: center;
      font-weight: 400;
      font-size:27px;
      color: #000;    
  }

  .header__text p{
    position: relative;
    width: 100%;
    top: 250px;
    z-index: 1;
    font-weight: 400;
    color: #000; 
  }

  .header__img{
    position: relative; 
    top: -60px; 
    margin-top: 0;
  }

  .header__navigotion_button{   /* бургер-меню */
    z-index: 10;
    /* position: fixed;
    top: 20px;
    right: 60px; */
  }

  .services__row{
    display: flex;
    flex-direction: column;
  }
  .services__card{
    width: 100%;
  }
}

@media(max-width:400px){
  .header__text h1 {
    position: absolute; 
    right: 5px;
    top: 120px;
    width: 40%;
    line-height:20px;
    text-align: center;
    font-weight: 400;
    font-size:20px;
    color: #000;    
}
}